NEXT_PUBLIC_AGENT_API=http://localhost:5001
NEXT_PUBLIC_VAULT_TOKEN=xxx
# Sidebar link to the Confluence space that holds API docs. Omit to hide it.
# NEXT_PUBLIC_DOCS_URL=https://<site>.atlassian.net/wiki/spaces/<KEY>/overview
