@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Sidebar specific */
  --sidebar-background: #f8f8f6;
  --sidebar-foreground: #414958;
  --sidebar-primary: #6c854e;
  --sidebar-primary-foreground: 40 20% 98%;
  --sidebar-accent: rgba(108, 133, 78, 0.1);
  --sidebar-accent-foreground: 220 20% 12%;
  --sidebar-border: #e2e4e9;
  --sidebar-ring: 220 20% 12%;
  --sidebar-muted: 220 10% 60%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #e8e8e2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
